/* Hide scrollbar but keep scroll */
html, body {
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }

/* If using CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins';
}
  